<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controledovitao"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.controledovitao.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControleDoVitao">

        <activity
            android:name="com.example.controledovitao.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.controledovitao.ui.HomeActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.SpentCreateActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.ConfigActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.ReportsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.SpentViewActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.InvestmentsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.SimulatorInvestActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.PaymentCreateActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.PaymentEditActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.PaymentListActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.PaymentsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.InvestmentEditActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.InvestmentWithdrawActivity"
            android:exported="false" />

        <activity
            android:name="com.example.controledovitao.ui.BillActivity"
            android:exported="false" />



    </application>

</manifest>